.item-details {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .cart {
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    position: fixed;
    top: 0;
    right: 0;
  }
  
  .cart h1 {
    margin-top: 0;
  }
  
  #cart-items {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  #cart-items li {
    margin-bottom: 10px;
  }
  